.u-section-1 .u-sheet-1 {
  min-height: 858px;
}

.u-section-1 .u-text-1 {
  font-size: 8rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 174px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.5rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 174px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 16rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 174px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1500ms;
  transition-duration: 0.5s;
  text-transform: uppercase;
  font-weight: 700;
  margin: 100px auto -56px;
  padding: 26px 90px 26px 89px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.5rem;
    margin-top: 61px;
    margin-left: auto;
    margin-right: auto;
  }
  .u-section-1 .u-text-3 {
    font-size: 5.7rem;
    margin-top: 61px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: -144px;
  }
}

.u-section-1 .u-btn-1 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-1 .u-btn-1:hover {
  transform: scale(1.25) !important;
}

.overlay {
  min-height: 958px;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-image: linear-gradient(#fefe00, #000dfe);
	overflow-x: hidden;
	transition: 0.5s;
}

.overlay-content {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #1b1b1b;
  margin-left: auto;
  margin-right: auto;
}

.overlay .closebtn {
	position: absolute;
	color:#ff0000;
	top: 1%;
	right: 1%;
	font-size: 60px;
  animation-duration: 1500ms;
  transition-duration: 0.5s;
  font-weight: 700;
}

.closebtn:hover {
	transform: scale(1.25) !important;
}
