 .u-section-1 {
  background-image: linear-gradient(#ffff00, #000dff);
}

.u-section-1 .u-sheet-1 {
  min-height: 2705px;
}

.u-section-1 .u-text-1 {
  font-size: 8rem;
  font-weight: 700;
  animation-duration: 1000ms;
  background-image: none;
  margin: 174px auto 0;
}

.u-section-1 .u-list-1 {
  width: 527px;
  margin: 100px auto -156px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
  grid-template-columns: 100%;
  min-height: 1627px;
}

.u-section-1 .u-container-layout-1 {
  padding: 117px 0 16px;
}

.u-section-1 .u-icon-1 {
  background-image: none;
  width: 201px;
  height: 201px;
  transition-duration: 1.25s;
  animation-duration: 1500ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -43px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 117px 0 16px;
}

.u-section-1 .u-icon-2 {
  background-image: none;
  width: 201px;
  height: 201px;
  transition-duration: 1.25s;
  animation-duration: 1500ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -43px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 117px 0 16px;
}

.u-section-1 .u-icon-3 {
  background-image: none;
  width: 201px;
  height: 201px;
  transition-duration: 1.25s;
  animation-duration: 1500ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -43px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 117px 0 16px;
}

.u-section-1 .u-icon-4 {
  background-image: none;
  width: 201px;
  height: 201px;
  transition-duration: 1.25s;
  animation-duration: 1500ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -43px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 117px 0 16px;
}

.u-section-1 .u-icon-5 {
  background-image: none;
  width: 201px;
  height: 201px;
  transition-duration: 1.25s;
  animation-duration: 1500ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -43px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 117px 0 16px;
}

.u-section-1 .u-icon-6 {
  background-image: none;
  width: 201px;
  height: 201px;
  transition-duration: 1.25s;
  animation-duration: 1500ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -43px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 117px 0 16px;
}

.u-section-1 .u-icon-7 {
  background-image: none;
  width: 201px;
  height: 201px;
  transition-duration: 1.25s;
  animation-duration: 1500ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -43px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2925px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 17px;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(254, 254, 0) !important;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(254, 254, 0) !important;
  }

  .u-section-1 .u-icon-4 {
    color: rgb(254, 254, 0) !important;
  }

  .u-section-1 .u-icon-5 {
    color: rgb(254, 254, 0) !important;
  }

  .u-section-1 .u-icon-6 {
    color: rgb(255, 255, 255) !important;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2515px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: -393px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-1 .u-icon-1 {
    width: 164px;
    height: 164px;
    margin-top: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-1 .u-icon-2 {
    width: 164px;
    height: 164px;
    margin-top: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-1 .u-icon-3 {
    width: 164px;
    height: 164px;
    margin-top: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-1 .u-icon-4 {
    width: 164px;
    height: 164px;
    margin-top: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-1 .u-icon-5 {
    width: 164px;
    height: 164px;
    margin-top: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-1 .u-icon-6 {
    width: 164px;
    height: 164px;
    margin-top: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-1 .u-icon-7 {
    width: 164px;
    height: 164px;
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2181px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: -274px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2154px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-left: -24px;
    margin-right: -24px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-bottom: -301px;
  }
}

.u-section-1 .u-icon-1 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-1 .u-icon-1:hover {
  transform: rotate(0deg) translateX(0px) scale(1.5) !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-1 .u-icon-2 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-1 .u-icon-2:hover {
  transform: rotate(0deg) translateX(0px) scale(1.5) !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-1 .u-icon-3 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-1 .u-icon-3:hover {
  transform: rotate(0deg) translateX(0px) scale(1.5) !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-1 .u-icon-4 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-1 .u-icon-4:hover {
  transform: rotate(0deg) translateX(0px) scale(1.5) !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-1 .u-icon-5 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-1 .u-icon-5:hover {
  transform: rotate(0deg) translateX(0px) scale(1.5) !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-1 .u-icon-6 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-1 .u-icon-6:hover {
  transform: rotate(0deg) translateX(0px) scale(1.5) !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-1 .u-icon-7 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-1 .u-icon-7:hover {
  transform: rotate(0deg) translateX(0px) scale(1.5) !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}